USE [UserTaskMVP]
GO
/****** Object:  Table [dbo].[notes]    Script Date: 23/09/2026 9:23:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes](
	[note_id] [int] IDENTITY(1,1) NOT NULL,
	[related_entity_type] [nvarchar](50) NOT NULL,
	[related_entity_id] [int] NOT NULL,
	[title] [nvarchar](100) NULL,
	[content] [text] NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_priorities]    Script Date: 23/09/2026 9:23:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_priorities](
	[priority_id] [int] IDENTITY(1,1) NOT NULL,
	[priority_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[priority_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_statuses]    Script Date: 23/09/2026 9:23:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_statuses](
	[task_status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[task_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 23/09/2026 9:23:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [text] NULL,
	[related_entity_type] [nvarchar](50) NULL,
	[related_entity_id] [int] NULL,
	[assigned_user_id] [int] NULL,
	[priority_id] [int] NULL,
	[due_date] [datetime] NULL,
	[task_status_id] [int] NULL,
	[reminder_date] [datetime] NULL,
	[completed_at] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/09/2026 9:23:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](10) NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[notes]  WITH CHECK ADD  CONSTRAINT [FK_notes_created_by_users_user_id] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notes] CHECK CONSTRAINT [FK_notes_created_by_users_user_id]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_assigned_user_id_users_user_id] FOREIGN KEY([assigned_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_assigned_user_id_users_user_id]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_priority_id_task_priorities_priority_id] FOREIGN KEY([priority_id])
REFERENCES [dbo].[task_priorities] ([priority_id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_priority_id_task_priorities_priority_id]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_task_status_id_task_statuses_task_status_id] FOREIGN KEY([task_status_id])
REFERENCES [dbo].[task_statuses] ([task_status_id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_task_status_id_task_statuses_task_status_id]
GO
