USE [UserTaskMVP]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [FK__users__user_role__6A30C649]
GO
ALTER TABLE [dbo].[tasks] DROP CONSTRAINT [FK_tasks_task_status_id_task_statuses_task_status_id]
GO
ALTER TABLE [dbo].[tasks] DROP CONSTRAINT [FK_tasks_priority_id_task_priorities_priority_id]
GO
ALTER TABLE [dbo].[tasks] DROP CONSTRAINT [FK_tasks_assigned_user_id_users_user_id]
GO
ALTER TABLE [dbo].[permissions] DROP CONSTRAINT [FK__permissio__role___693CA210]
GO
ALTER TABLE [dbo].[notes] DROP CONSTRAINT [FK_notes_created_by_users_user_id]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/09/2026 11:19:22 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 23/09/2026 11:19:22 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tasks]') AND type in (N'U'))
DROP TABLE [dbo].[tasks]
GO
/****** Object:  Table [dbo].[task_statuses]    Script Date: 23/09/2026 11:19:22 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[task_statuses]') AND type in (N'U'))
DROP TABLE [dbo].[task_statuses]
GO
/****** Object:  Table [dbo].[task_priorities]    Script Date: 23/09/2026 11:19:22 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[task_priorities]') AND type in (N'U'))
DROP TABLE [dbo].[task_priorities]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 23/09/2026 11:19:22 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[roles]') AND type in (N'U'))
DROP TABLE [dbo].[roles]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 23/09/2026 11:19:22 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[permissions]') AND type in (N'U'))
DROP TABLE [dbo].[permissions]
GO
/****** Object:  Table [dbo].[notes]    Script Date: 23/09/2026 11:19:22 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[notes]') AND type in (N'U'))
DROP TABLE [dbo].[notes]
GO
USE [master]
GO
/****** Object:  Database [UserTaskMVP]    Script Date: 23/09/2026 11:19:22 p. m. ******/
DROP DATABASE [UserTaskMVP]
GO
/****** Object:  Database [UserTaskMVP]    Script Date: 23/09/2026 11:19:22 p. m. ******/
CREATE DATABASE [UserTaskMVP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserTaskMVP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UserTaskMVP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserTaskMVP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UserTaskMVP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserTaskMVP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserTaskMVP]
GO
/****** Object:  Table [dbo].[notes]    Script Date: 23/09/2026 11:19:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes](
	[note_id] [int] IDENTITY(1,1) NOT NULL,
	[related_entity_type] [nvarchar](50) NOT NULL,
	[related_entity_id] [int] NOT NULL,
	[title] [nvarchar](100) NULL,
	[content] [text] NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[date_created] [datetime] NULL,
	[date_updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 23/09/2026 11:19:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
	[permission] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 23/09/2026 11:19:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_priorities]    Script Date: 23/09/2026 11:19:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_priorities](
	[priority_id] [int] IDENTITY(1,1) NOT NULL,
	[priority_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[priority_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_statuses]    Script Date: 23/09/2026 11:19:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_statuses](
	[task_status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[task_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 23/09/2026 11:19:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [text] NULL,
	[related_entity_type] [nvarchar](50) NULL,
	[related_entity_id] [int] NULL,
	[assigned_user_id] [int] NULL,
	[priority_id] [int] NULL,
	[due_date] [datetime] NULL,
	[task_status_id] [int] NULL,
	[reminder_date] [datetime] NULL,
	[completed_at] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[date_created] [datetime] NULL,
	[date_updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/09/2026 11:19:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](10) NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[user_role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([permission_id], [role_id], [permission]) VALUES (123, 1, N'home/index')
INSERT [dbo].[permissions] ([permission_id], [role_id], [permission]) VALUES (124, 1, N'account/index')
INSERT [dbo].[permissions] ([permission_id], [role_id], [permission]) VALUES (125, 1, N'account/edit')
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[task_priorities] ON 

INSERT [dbo].[task_priorities] ([priority_id], [priority_name]) VALUES (1, N'Low')
INSERT [dbo].[task_priorities] ([priority_id], [priority_name]) VALUES (2, N'Medium')
INSERT [dbo].[task_priorities] ([priority_id], [priority_name]) VALUES (3, N'High')
SET IDENTITY_INSERT [dbo].[task_priorities] OFF
GO
SET IDENTITY_INSERT [dbo].[task_statuses] ON 

INSERT [dbo].[task_statuses] ([task_status_id], [status_name]) VALUES (1, N'New')
INSERT [dbo].[task_statuses] ([task_status_id], [status_name]) VALUES (2, N'In Progress')
INSERT [dbo].[task_statuses] ([task_status_id], [status_name]) VALUES (3, N'Done')
SET IDENTITY_INSERT [dbo].[task_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [title], [first_name], [last_name], [email], [phone], [username], [password], [user_role_id]) VALUES (1, N'Arquitecto', N'cesar', N'forero', N'jcesarforero@gmail.com', N'3208587713', N'jcesarforero', N'Hj/ZH+AUpNyndmChYoLliQ==:qyKPLLPcbHLomujA+PQtrg==', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[notes]  WITH CHECK ADD  CONSTRAINT [FK_notes_created_by_users_user_id] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notes] CHECK CONSTRAINT [FK_notes_created_by_users_user_id]
GO
ALTER TABLE [dbo].[permissions]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_assigned_user_id_users_user_id] FOREIGN KEY([assigned_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_assigned_user_id_users_user_id]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_priority_id_task_priorities_priority_id] FOREIGN KEY([priority_id])
REFERENCES [dbo].[task_priorities] ([priority_id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_priority_id_task_priorities_priority_id]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_task_status_id_task_statuses_task_status_id] FOREIGN KEY([task_status_id])
REFERENCES [dbo].[task_statuses] ([task_status_id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_task_status_id_task_statuses_task_status_id]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([user_role_id])
REFERENCES [dbo].[roles] ([role_id])
ON DELETE SET NULL
GO
USE [master]
GO
